<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qaxaq</title>
</head>
<style>
    img{
        width: 300px;
    }
</style>
<body>
    {% load i18n %}
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
    {% for i in qaxaq_list %}
        <a href="{% url 'mayla' i.id %}">
            <p>{{ i.name }}</p>
            <img src="{{ i.img.url }}" alt="">
        </a>
    {% endfor %}
</body>
</html>